[Unit]
Description=Hyper-V VSS daemon
ConditionVirtualization=microsoft

[Service]
ExecStart=/usr/sbin/hypervvssd -n

[Install]
WantedBy=multi-user.target
