[Unit]
Description=Hyper-V KVP daemon
ConditionVirtualization=microsoft

[Service]
Type=simple
ExecStart=/usr/sbin/hypervkvpd -n

[Install]
WantedBy=multi-user.target
