[Unit]
Description=Hyper-V FCOPY daemon
ConditionVirtualization=microsoft
ConditionPathExists=/dev/vmbus/hv_fcopy

[Service]
ExecStart=/usr/sbin/hypervfcopyd -n

[Install]
WantedBy=multi-user.target
